
# BEGIN EnvatoBackup
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=76c23f2387a21a0419f785295fd54394
RewriteRule (.*) - [F]
</IfModule>

# END EnvatoBackup
